$secondary-color:#f9f9f9;
$main-color: #39DE2D;

body {
    background-color: $secondary-color;
}

.row {
    margin-right: 0;
}

.theme-header {
    color: $main-color;
}

.theme-btn {
    &__main {
        background-color: $main-color;
        color: $secondary-color;

        &:hover {
            color: $secondary-color;
        }
    }
}

nav.navbar a.nav-link {
    padding: 0.375rem 0.75rem;
}

#home-landing {
    height: 87vh;
    margin-bottom: 2.5rem;

    .landing-image {
        background-size: cover;
        background: url('../img/landing-image.jpg') no-repeat center;
        content: ' ';
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
    }
}

#landing-text {
    padding-top: 4rem;

    h4 {
        color: #777;
    }
}

.home-process-list {
    background: #fff;

    &__header {
        // background: $main-color;
        border-bottom: 3px solid $main-color;
        display: inline;
        padding: 0.5rem;
    }
}

.process-icons {
    height: 10rem;
}

.home-trending-packages {
    &__header {
        &-text {
            width: 30%;
            padding: 0.5rem 0.75rem 0.5rem 0.75rem;
            background: $main-color;
            color: $secondary-color;
            -webkit-clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
            font-size: 2rem;
        }
    }
}
.package-card{
    background: url('../img/landing-image.jpg') no-repeat center;
    background-size: cover;
    height: 26rem;
    padding: 0.75rem;
    &__header{
        #package-name{
            text-align: center;
            padding-bottom: 0.25rem;
            text-decoration: underline;
        }
    }
    &__text{

    }
    &__buttons{

    }
}